body{
  padding-top: 50px;
}
#navbar-gap{
  margin-top: -4%;
}
.row.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row.thumbnail .thumb-img {
  width: 120px;
  height: 50px;
}

.pice-details {
  padding: 15px;
}

.row-cart{
  display: flex;
  align-items: center;
}